[Desktop Entry]
Name=Fleet Canvas
GenericName=Robot Fleet Site Editor
Comment=Visual editor for Open-RMF robot fleet deployment sites
Exec=rmf_site_editor %f
Icon=rmf-site-editor
Type=Application
Categories=Science;Engineering;Graphics;
Keywords=robotics;rmf;fleet;navigation;ros;gazebo;editor;
StartupNotify=true
MimeType=application/x-site-json;
Terminal=false
